<script lang="ts">
    import { page } from "$app/stores"
    import { is_admin } from "../stores";
    import { PUBLIC_API_ORIGIN } from "$env/static/public"
    import { onMount } from "svelte";
    import BreadCrumbs from "./BreadCrumbs.svelte";
    let is_admin_loading = true
    let is_signout_modal_active = false
    let is_signout_loading = false

    const sessionLookUp = () => {
        fetch(PUBLIC_API_ORIGIN + "/is_admin", {
            method: "GET",
            mode: "cors",
            credentials: "include",
        }).then((res) => {
            is_admin_loading = false
            if (res.ok) $is_admin = true
            else $is_admin = false
        }).catch((e) => {
            is_admin_loading = false
            $is_admin = false
        })
    }

    const signOut = () => {
        is_signout_loading = true
        fetch(PUBLIC_API_ORIGIN + "/signout", {
            method: "GET",
            mode: "cors",
            credentials: "include",
        }).then((res) => {
            $is_admin = false
        })
        is_signout_loading = false
        is_signout_modal_active = false
    }
    onMount(sessionLookUp)
</script>
<svelte:head>
    <meta name="description" content="NoveLDA(ノベルダ)はトピックモデルLDAを応用した書籍推薦システムです。">
    <meta property="og:url" content={$page.url.origin}>
    <meta property="og:type" content="website">
    <meta property="og:title" content="NoveLDA">
    <meta property="og:description" content="NoveLDA(ノベルダ)はトピックモデルLDAを応用した書籍推薦システムです。">
    <meta property="og:site_name" content="NoveLDA">
</svelte:head>

<div class="footer-fixed">
    <div class="container grid-lg mt-2">
        <header class="navbar">
            <section class="navbar-section">
                <a href="/" class="navbar-brand mr-2">
                    <h2>NoveLDA</h2>
                </a>
            </section>
            <section class="navbar-section">
                <a class="btn btn-link" href="/main">Main</a>
                <a class="btn btn-link" href="/admin">Admin</a>
                {#if $is_admin}
                    <button class="btn btn-link" on:click={() => is_signout_modal_active = true}>Sign out</button>
                {/if}
            </section>
        </header>
    </div>
    
    <main>
        <div class="container grid-lg mt-2">
            <BreadCrumbs />
            {#if is_admin_loading && $page.url.pathname === "/admin"}
                <div class="loading loading-lg"></div>
            {:else}
                <slot />
            {/if}
        </div>
    </main>
    {#if is_signout_modal_active }
    <div class="modal modal-sm active"id="modal-id">
        <a href={"#"} class="modal-overlay" aria-label="Close" on:click={() => is_signout_modal_active = false}></a>
        <div class="modal-container">
            <div class="modal-header">
                <a href={"#"} class="btn btn-clear float-right" aria-label="Close" on:click={() => is_signout_modal_active = false}></a>
                <div class="modal-title h5">サインアウトしますか？</div>
            </div>
            <div class="modal-footer">
                {#if is_signout_loading}
                    <button class="btn btn-primary loading" on:click={signOut}>Sign out</button>
                {:else}
                    <button class="btn btn-primary" on:click={signOut}>Sign out</button>
                {/if}
                <a class="btn btn-link" href="#!" aria-label="Close" on:click={() => is_signout_modal_active = false}>Close</a>
            </div>
        </div>
    </div>
{/if}

    <div class="container grid-lg">
        <footer class="section section-footer">
            <p>
                <a href="https://gitlab.com/rkgn/novelda">GitLab</a> <br>
                <span class="text-gray"> Powered by <a href="https://kit.svelte.dev/">SvelteKit</a></span>
            </p>
        </footer>
    </div>
</div>
    
<style>
    .footer-fixed {
        min-height: 100vh;
        position: relative;
        padding-bottom: 150px;
        box-sizing: border-box;
    }

    footer {
        position: absolute;
        bottom: 0;
    }
</style>
