<script lang="ts">
    import BreadCrumbs from "./BreadCrumbs.svelte";
    import Carousel from "./Carousel.svelte";
    import {meta_data} from "../stores"
</script>
<p>
    NoveLDA(ノベルダ)はトピックモデルLDAを応用した書籍推薦システムです。<br>
    現在{Object.keys($meta_data).length}シリーズのライトノベルが登録されています。
</p>
<Carousel />