<script lang="ts">
    import { page } from "$app/stores"
    let path = ""
    $: path = $page.url.pathname.slice(1)
</script>
<ul class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/">Home</a>
    </li>
    {#if path != "/"}
        <li class="breadcrumb-item">
            <a href={$page.url.href}>{path.replace("_", " ")}</a>
        </li>
    {/if}
</ul>
