<script lang="ts">
    import { onMount } from "svelte";
    import { meta_data } from "../stores";
    let isbns = Object.values($meta_data).map((v) => v.first_isbn) 
    let imgs: string[] = []
    let selector =  new Array(8).fill(false)
    selector[0] = true
    const selectImg = async () => {
        for (let i = 0; i < selector.length; i++) {
            while (true) {
                let isbn = isbns[Math.floor(Math.random() * (isbns.length - 1))] 
                try {
                    var img = await import(`../shoei/${isbn}.png`)
                    if (imgs.includes(img.default)) continue
                    imgs.push(img.default)
                    imgs = imgs
                    break
                }
                catch(e){
                    console.log("re-select img")
                }
            }
        }
    }
    onMount(selectImg)
    setInterval( () => {
        let i = selector.indexOf(true)
        selector[i] = false
        selector[(i + 1) % selector.length] = true
    }, 7000)    

</script>

<div class="carousel">
    {#each imgs as img, i}
        <input class="carousel-locator" id="slide-{ i + 1 }" type="radio" name="carousel-radio" hidden checked={selector[i]}>
    {/each}
        
    <div class="carousel-container" id="shoei">
        {#each imgs as img, i}
            <figure class="carousel-item">
                <label class="item-prev btn btn-action btn-lg" for="slide-{i == 1 ? imgs.length : i - 1}"><i class="icon icon-arrow-left"></i></label>
                <label class="item-next btn btn-action btn-lg" for="slide-{i + 1}"><i class="icon icon-arrow-right"></i></label>
                <img class="img-responsive p-centered rounded shoei" src="{img}" alt="{img}">
            </figure>
        {/each}
        <div class="carousel-nav">
            {#each imgs as img, i}
                <label class="nav-item text-hide c-hand" for="slide-{ i + 1 }">{ i + 1 }</label>
            {/each}
        </div>
    </div>
</div>

<style>
    img.shoei {
        height: 400px;
    }
    div#shoei {
        height: 400px;
    }
</style>