<script lang="ts">
    import SignInForm from "./SignInForm.svelte"
    import { PUBLIC_API_ORIGIN } from "$env/static/public"
    import { slide } from "svelte/transition"
    import BannedIpList from "./BannedIPList.svelte";
    import { is_admin } from "../../stores";
    import Surveys from "./Surveys.svelte";
    let is_ng_toast_active = false
    let survey_pw = { "password" : "", "ttl" : 4}
    let retype_pw = ""
    let is_pw_loading = false
    let is_pw_ok_toast_active = false
    let is_pw_ng_toast_active = false
    let is_pw_not_match = false
    
    const submitSurveyPW = () => {
        is_pw_ok_toast_active = false
        is_pw_ng_toast_active = false
        is_pw_not_match = false
        if(survey_pw.password == retype_pw && survey_pw.password != ""){
            is_pw_loading = true
            fetch(PUBLIC_API_ORIGIN + "/add_survey_password", {
                method: "POST",
                mode: "cors",
                credentials: "include",
                headers: {
                    'Content-type':'application/json',
                },
                body: JSON.stringify(survey_pw)
            }).then((res) => {
                is_pw_loading = false
                if (res.ok) is_pw_ok_toast_active = true
                else is_pw_ng_toast_active = true
            }).catch((e) => {
                is_pw_loading = false
                is_ng_toast_active = true
            })
        }
        else is_pw_not_match = true
    }
    
</script>
{#if !$is_admin}
    <SignInForm />
{:else}
    <h4>管理者画面</h4>        
    <div class="panel">
        <div class="panel-header">
            <div class="panel-title">アンケート用パスワード設定</div>
        </div>
        <div class="panel-body">
            {#if is_pw_ok_toast_active }
                <div class="toast toast-success" transition:slide>
                    <button class="btn btn-clear float-right" on:click={() => is_pw_ok_toast_active = false }></button>
                    <p>パスワードを追加しました</p>
                </div>
            {/if}
            {#if is_pw_ng_toast_active }
                <div class="toast toast-error" transition:slide>
                    <button class="btn btn-clear float-right" on:click={() => is_pw_ng_toast_active = false }></button>
                    <p>パスワードの追加に失敗しました</p>
                </div>
            {/if}
            {#if is_pw_not_match}
                <div class="toast toast-error" transition:slide>
                    <button class="btn btn-clear float-right" on:click={() => is_pw_not_match = false }></button>
                    <p>入力に誤りがあります</p>
                </div>
            {/if}
            <div class="columns">
                <div class="form-group col-8 p-2">
                    <label class="form-label" for="pw_input">パスワード</label>
                    <input id="pw_input" class="form-input" type="password" placeholder="password" bind:value={survey_pw.password}>
                    <label class="form-label" for="pw_input_retype">パスワード再入力</label>
                    <input id="pw_input_retype" class="form-input" type="password" placeholder="password" bind:value={retype_pw}>
                </div>
                <div class="form-group col-4 p-2">
                    <label class="form-label" for="ttl_input">有効期間(hours)</label>
                    <input class="form-input mb-2" id="ttl_input" type="number" bind:value={survey_pw.ttl}>
                    <label class="form-label" for="ttl_sl"></label>
                    <input class="slider mt-1" type="range" id="ttl_sl" min="1" max="48" bind:value={survey_pw.ttl}>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            {#if is_pw_loading}
                <button class="btn loading">Submit</button>
            {:else}
                <button class="btn btn-primary" on:click={submitSurveyPW}>Submit</button>
            {/if}
        </div>
    </div>
    <BannedIpList />
    <Surveys />
{/if}