<script lang="ts">
    import { onMount } from "svelte";
    import { PUBLIC_API_ORIGIN } from "$env/static/public"
    import { slide } from "svelte/transition"

    let ban_ips: {
        "id": number,
        "ip": string,
        "cnt": number
    }[] = [] 

    let is_loading = false
    let is_ok_toast_active = false
    let is_ng_toast_active = false

    const get_ban_ips = () => {
        is_loading = true
        fetch(PUBLIC_API_ORIGIN + "/ban_ips", {
            method: "GET",
            mode: "cors",
            credentials: "include",
        })
        .then(res => res.json())
        .then((data) => {
            ban_ips = data
            is_loading = false
        })
    }

    const delete_ban_ip = (id: number) => {
        if(window.confirm("BANを解除しますか？")){
            is_loading = true
            fetch(PUBLIC_API_ORIGIN + "/ban_ips/" + id, {
                method: "DELETE",
                mode: "cors",
                credentials: "include"
            }).then((res) => {
                if(res.ok) is_ok_toast_active = true
                else is_ng_toast_active = true
                get_ban_ips()
                is_loading = false
            })
        }
    }
    onMount(get_ban_ips)

</script>

<div class="panel mt-2">
    <div class="panel-header">
        <div class="panel-title">IP BAN一覧</div>
    </div>
    <div class="panel-body">
        {#if is_ng_toast_active}
            <div class="toast toast-error" transition:slide>
                <button class="btn btn-clear float-right" on:click={() => is_ng_toast_active = false }></button>
                <p>エラーが発生しました</p>
            </div>
        {/if}
        {#if is_ok_toast_active}
            <div class="toast toast-success" transition:slide>
                <button class="btn btn-clear float-right" on:click={() => is_ok_toast_active = false }></button>
                <p>BANを解除しました</p>
            </div>
        {/if}

        {#if is_loading}
            <div class="loading"></div>
        {:else}
            {#if ban_ips.length != 0}
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>IP アドレス</th>
                            <th>失敗回数</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {#each ban_ips as ban_ip}
                            <tr>
                                <td> { ban_ip.ip } </td>
                                <td> { ban_ip.cnt } </td>
                                <td>
                                    <button class="btn btn-error p-centered" on:click={ () => delete_ban_ip(ban_ip.id)}>
                                        <i class="icon icon-delete"></i> BAN解除
                                    </button>
                                </td>
                            </tr>
                        {/each}
                    </tbody>
                </table>
            {:else}
                <p>現在BAN状態のアドレスはありません</p>
            {/if}
        {/if}
    </div>
    <div class="panel-footer">
        <button class="btn btn-primary" on:click={get_ban_ips}>Reload</button>
    </div>
</div>