<script lang="ts">
    import { slide } from "svelte/transition"
    import { PUBLIC_API_ORIGIN } from "$env/static/public"
    import { is_admin } from "../../stores";
    let auth_info = { uid: "", password: "" }
    let is_ng_toast_active = false
    let is_sending = false
    const signIn = () => { 
        is_ng_toast_active = false
        if(auth_info.uid == "" || auth_info.password == ""){
            is_ng_toast_active = true
        }
        else{
            is_sending = true
            fetch(PUBLIC_API_ORIGIN + "/signin", {
                method: "POST",
                mode: "cors",
                credentials: "include",
                headers:{
                    'Content-type':'application/json',
                },
                body: JSON.stringify(auth_info)
            }).then((res) => {
                is_sending = false
                if (!res.ok) is_ng_toast_active = true
                else $is_admin = true
            }).catch((e) => {
                is_sending = false
                is_ng_toast_active = true
            })
        }
    }
</script>
<div class="modal modal-sm active">
            <a href="/" class="modal-overlay" aria-label="Close"></a>
    <div class="modal-container">
        <div class="modal-header">
            <a href="/" class="btn btn-clear float-right" aria-label="Close"></a>
            <div class="modal-title h5">管理者ログインフォーム</div>
        </div>
        <div class="modal-body">
            <div class="content">
                {#if is_ng_toast_active}
                    <div class="toast toast-error" transition:slide>
                        <button class="btn btn-clear float-right" on:click={() => is_ng_toast_active = false }></button>
                        <p>サインインに失敗しました</p>
                    </div>

                {/if}
                <div class="form-group">
                    <label class="form-label" for="uid_input">ユーザID</label>
                    <input id="uid_input" class="form-input" type="text" placeholder="uid" bind:value={auth_info.uid}>
                    <label class="form-label" for="pw_input">パスワード</label>
                    <input id="pw_input" class="form-input" type="password" placeholder="password" bind:value={auth_info.password}>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            {#if is_sending}
                <button class="btn btn-primary loading">Sign in</button>
            {:else}
                <button class="btn btn-primary" on:click={signIn}>Sign in</button>
            {/if}
        </div>
    </div>
</div>
