<script lang="ts">
    import { PUBLIC_API_ORIGIN } from "$env/static/public";
    import { onMount } from "svelte";
    import { slide } from "svelte/transition"
    interface Survey {
        [key: number | string]: string | number | boolean 
    }
    let is_loading = false
    let is_ok_toast_active = false
    let is_ng_toast_active = false
    let dl_surveys: Survey[] = []
    let dl_url: string
    let surveys: {
        "id": number,
        "name": String,
        "time": String,
        "survey": String
    }[] = []

    const getSurveys = () => {
        is_loading = true
        fetch(PUBLIC_API_ORIGIN + "/surveys", {
            method: "GET",
            mode: "cors",
            credentials: "include",
        })
        .then(res => res.json())
        .then((data) => {
            is_loading = false
            surveys = data
            prepareDL()
        })
    }
    const deleteSurvey = (id: number) => {
        if(window.confirm("回答を削除しますか？")){
            is_loading = true
            fetch(PUBLIC_API_ORIGIN + "/surveys/" + id, {
                method: "DELETE",
                mode: "cors",
                credentials: "include"
            }).then((res) => {
                if(res.ok) is_ok_toast_active = true
                else is_ng_toast_active = true
                getSurveys()
                is_loading = false
            })
        }
    }

    const prepareDL = () => {
        dl_surveys = []
        for (let s of surveys){
            let json = JSON.parse(String(s.survey))
            json.name = s.name
            dl_surveys.push(json)
        }
        let blob = new Blob([JSON.stringify(dl_surveys, null, '  ')], {type: 'application\/json'})
        dl_url = URL.createObjectURL(blob)
        console.log(dl_url)
    }
    onMount(getSurveys)
</script>
<div class="panel mt-2">
    <div class="panel-header">
      <div class="panel-title">アンケート回答状況</div>
    </div>
    <div class="panel-body">
        {#if is_ng_toast_active}
            <div class="toast toast-error" transition:slide>
                <button class="btn btn-clear float-right" on:click={() => is_ng_toast_active = false }></button>
                <p>エラーが発生しました</p>
            </div>
        {/if}
        {#if is_ok_toast_active}
            <div class="toast toast-success" transition:slide>
                <button class="btn btn-clear float-right" on:click={() => is_ok_toast_active = false }></button>
                <p>回答を削除しました</p>
            </div>
        {/if}
        {#if is_loading}
            <div class="loading"></div>
        {:else}
            {#if surveys.length != 0}
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>ニックネーム</th>
                            <th>回答日時</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {#each surveys as survey}
                            <tr>
                                <td> { survey.name } </td>
                                <td> { survey.time } </td>
                                <td>
                                    <button class="btn btn-error p-centered" on:click={() => deleteSurvey(survey.id)}>
                                        <i class="icon icon-delete"></i> 削除
                                    </button>
                                </td>
                            </tr>
                        {/each}
                    </tbody>
                </table>
            {:else}
                <p>まだ誰も回答していません</p>
            {/if}
        {/if}
    </div>
    <div class="panel-footer">
        <button class="btn btn-primary" on:click={getSurveys}>Reload</button>
        <a href={dl_url} download="surveys.json" class="btn btn-link">Download</a>
    </div>
</div>