<script lang="ts">
    import BookSelector from "./BookSelector.svelte"
    import TopicSelecter from "./TopicSelecter.svelte";
    import SurveyForm from "./SurveyForm.svelte";
    import { onDestroy } from "svelte";
    import { is_topic_visible } from "../../stores";
    const mode_state = ["Title Mode", "Topic Mode", "Survey"]
    let cur_mode = "Title Mode"
    let is_destoroy = false
    onDestroy(() => is_destoroy = true)
</script>
{#if !is_destoroy}
    <ul class="tab">
        {#each mode_state as mode}
            <li class="tab-item" class:active={cur_mode == mode}><a href={"#"} on:click={() => cur_mode = mode}>{mode}</a></li>
        {/each}
    </ul>
    {#if cur_mode != "Survey"}
        <div class="form-group mt-2 mx-2">
            <label class="form-switch" for={""} >
                <input type="checkbox" checked={$is_topic_visible}>
                <button class="form-icon" on:click={() => $is_topic_visible = !$is_topic_visible}></button> トピック分布表示
            </label>
        </div>
    {/if}
    <div style="display: {cur_mode == "Title Mode" ? "block" : "none"};">
        <BookSelector />
    </div>
    <div style="display: {cur_mode == "Topic Mode" ? "block" : "none"};">
        <TopicSelecter />
    </div>
    <div style="display: {cur_mode == "Survey" ? "block" : "none"};">
        <SurveyForm />
    </div>
{/if}