<script lang="ts">
    interface AutoComplete {
        "option": string,
        "index": number
    }

    export let options: string[] = []
    export let input_type: string
    export let selected_options: string[] = []
    let cur_input = ""
    let auto_completes: AutoComplete[] = []
    let is_input_OK = false

    const add = (option: string) => {
        cur_input = option
        auto_completes = []
        selected_options.push(cur_input)
        selected_options = selected_options
        cur_input = ""
    }

    const suggest = () => {
        let tmp: AutoComplete[] = []
        for(let t of options.filter(t => !selected_options.includes(t))) {
            let index = t.toLowerCase().indexOf(cur_input.toLowerCase())
            if(index > -1 && cur_input != "") {
                tmp.push({"option": t, "index": index})
            } 
        }
        auto_completes = tmp.sort((a, b) => a.index - b.index)
    }

    $:{
        suggest()
        if(options.includes(cur_input) && !selected_options.includes(cur_input)){
            is_input_OK = true
        }
        else is_input_OK = false
    }
</script>
<div class="form-group">
    <div class="form-autocomplete">
        <label class="form-label" for="title_input">{input_type}を入力</label>
        <div class="input-group">
            <input class="form-input" type="text" placeholder={input_type} list="title_list" bind:value={cur_input}>
            {#if auto_completes.length != 0}
                <ul class="menu">
                    {#each auto_completes as ac}
                        <li class="menu-item">
                            <a href={"#"} on:click={ () => add(ac.option) }>
                                <div class="tile tile-centered">
                                    <div class="tile-content">
                                        {ac.option.substring(0, ac.index)}
                                        <mark>{ac.option.substring(ac.index, ac.index + cur_input.length)}</mark>
                                        {ac.option.substring(ac.index + cur_input.length, ac.option.length)}
                                    </div>
                                </div>
                            </a>
                        </li>
                    {/each}
                </ul>
            {/if}
        </div>
    </div>
</div>
