<script lang="ts">
    import { vecs, topics, is_topic_visible } from "../../stores"
    import AutoComplete from "./AutoComplete.svelte";
    import Result from "./Result.svelte";
    import TopicBar from "./TopicBar.svelte"
    import { fade } from "svelte/transition"
    import TopicWordCloud from "./TopicWordCloud.svelte";
    import BookChip from "./BookChip.svelte"
    import Percent from "./Percent.svelte";

    let selected_titles: string[] = []
    let ave_vec: number[] = []
    let topics_sorted: { [key: string]: number }[] = []
    let is_wordcloud_active = new Array<boolean>(4).fill(false)

    const delTitle = (title: string) => {
        selected_titles = selected_titles.filter((t: string) => t != title) 
    }

    $:{
        let selected_vecs = selected_titles.map((title :string) => $vecs[title])
        let tmp: number
        ave_vec = []
        for (let i = 0; i < $topics.length; i++){
            tmp = 0
            for (let j = 0; j < selected_titles.length; j++){
                tmp += selected_vecs[j][i]
            }
            if(selected_titles.length != 0) ave_vec.push(tmp/selected_titles.length)
        }
        topics_sorted = ave_vec.map((v, i) => {
            return { "id" : i, "vec" : v }
        }).sort((a, b) => b.vec - a.vec)
    }
    
</script>

<AutoComplete options={Object.keys($vecs)} input_type="作品名" bind:selected_options={selected_titles} /> 

<div class="panel">
    <div class="panel-header"><div class="panel-title">選択済み作品</div></div>
    <div class="panel-body">
        {#each selected_titles as title}
            <BookChip title={title} func={delTitle} />
        {/each}
    </div>
    <div class="panel-footer">
        <button class="btn btn-primary float-right" disabled={selected_titles.length == 0} on:click={() => selected_titles = []}>
            全て削除
        </button>
    </div>
</div>

{#if topics_sorted.length != 0}
    {#if $is_topic_visible}
        <div class="panel mt-2" transition:fade>
            <div class="panel-header">
                <div class="panel-title h5">あなたの好み</div>
            </div>
            <div class="panel-body">
                <p>選択された書籍に共通するトピックを表示します</p>
                <div class="columns">
                    {#each topics_sorted.slice(0, 4) as t, i}
                        <div class="column col-3 col-md-6">
                            <p class="mx-1">
                                { `${$topics[t.id]}` }
                                <!-- svelte-ignore a11y-click-events-have-key-events -->
                                <!-- svelte-ignore a11y-no-static-element-interactions -->
                                <i class="fa-solid fa-cloud fa-xs" on:click={() => is_wordcloud_active[i] = true} style="cursor: pointer;"></i>
                                : <Percent num={t.vec} />
                            </p>
                            <TopicBar vec={t.vec} />
                        </div>
                        <TopicWordCloud topic_id={t.id} bind:is_active={is_wordcloud_active[i]}/>
                    {/each}
                </div>
            </div>
            <div class="panel-footer"></div>
        </div>
    {/if}
    <Result ave_vec={ave_vec} selected_titles={selected_titles} key_topics={topics_sorted.slice(0, 4).map((v, _) => $topics[v.id])} mode="title_mode"/>
{/if}