<script lang="ts">
    import { vecs, topics, meta_data, is_topic_visible, reviews_exce, cws} from "../../stores"
    import Percent from "./Percent.svelte";
    import TopicBar from "./TopicBar.svelte"
    import TopicWordCloud from "./TopicWordCloud.svelte";
    export let title: string
    export let is_survey_active: boolean
    export let sim = 1.0
    export let key_topics: string[] = []
    let is_img_loaded = false


    const dummy_survey = {
        "title": "",
        "similarity": -1,
        "interest_level": -1,
        "is_alr_read": false,
        "is_topic_visible": false
   }

    export let survey = dummy_survey

    const qs = ["興味がない", "あまり興味がない", "やや興味がある", "興味がある"]
    let img_path: string
    let topics_sorted: { [key: string]: number }[] = []
    let is_summary_active = false
    let is_wordcloud_active = new Array<boolean>(4).fill(false)

    const initSurvey = () => {
        if(is_survey_active){
            survey.title = title
            survey.similarity = Number(sim.toFixed(3))
            survey.interest_level = 5
            survey.is_alr_read = false
        }
    }
    $:{
        if(is_survey_active){
            survey.is_topic_visible = $is_topic_visible
        }
    }
    initSurvey()

    $:{
        import(`../../shoei/${$meta_data[title].first_isbn}.png`).then(img => {
            img_path = img.default
        }).catch(() => {
            img_path = ""
        })
        topics_sorted = $vecs[title].map((v, i) => {
                return { "id" : i, "vec" : v }
        }).sort((a, b) => b.vec - a.vec)
        initSurvey()
        is_img_loaded = false
    }

    const getMarkedHTML = (cw: Array<string>, review: string) => {
        for(let word of cw){
            let start = review.indexOf(word)
            if(start == -1) continue
            let end = start + word.length
            review = review.substring(0, start) + "<mark>" + review.substring(start, end) + "</mark>" + review.substring(end, review.length - 1)
        }
        return review
    }
</script>

<div class="card mt-2">
    <div class="card-header">
        <div class="card-title h4">{ title }</div>
        <div class="card-subtitle">{ $meta_data[title].author }</div>
    </div>
    <div class="card-body">
        <div class="columns">
            <div class="card-image col-3 col-md-6">
                {#if img_path != ""}
                    <div class="spinner-wrap">
                        <img class="mx-2 shoei" id="shoei_id" src={img_path} alt="" on:load={() => is_img_loaded = true} hidden={!is_img_loaded}>
                        <div class="loading loading-lg spinner" hidden={is_img_loaded}></div>
                    </div>
                {:else}
                    <div class="empty shoei"></div>
                {/if}
            </div>
            {#if $is_topic_visible}
                <div class="col-3 col-md-6">
                    {#each topics_sorted.slice(0, 4) as t, i}
                       <div class="t-bar">
                            <div class="popover popover-right">
                                <span class="mx-1">
                                    {#if key_topics.includes($topics[t.id])}
                                        <b class="text-primary">{`${$topics[t.id]}`}
                                            <!-- svelte-ignore a11y-click-events-have-key-events -->
                                            <!-- svelte-ignore a11y-no-static-element-interactions -->
                                            <i class="fa-solid fa-cloud fa-xs" on:click={() => is_wordcloud_active[i] = true} style="cursor: pointer;"></i>
                                            : <Percent num={t.vec} />
                                        </b>
                                    {:else}
                                        {`${$topics[t.id]}`}
                                        <!-- svelte-ignore a11y-click-events-have-key-events -->
                                        <!-- svelte-ignore a11y-no-static-element-interactions -->
                                        <i class="fa-solid fa-cloud fa-xs" on:click={() => is_wordcloud_active[i] = true} style="cursor: pointer;"></i>
                                        : <Percent num={t.vec} />
                                    {/if}                               
                                </span>
                                <div class="popover-container">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>{$topics[t.id]}に関するレビュー</h5>
                                        </div>
                                        <div class="card-body">
                                            {#each $reviews_exce[title][t.id] as r}
                                                <p>{@html getMarkedHTML($cws[t.id], r)}...</p>
                                            {/each}
                                        </div>
                                        <div class="card-footer"></div>
                                    </div>
                                </div>
                            </div>
                            <TopicBar vec={t.vec} />
                        </div>
                        <TopicWordCloud topic_id={t.id} bind:is_active={is_wordcloud_active[i]}/>
                    {/each}
                </div>
            {/if}
            <div class="col-{$is_topic_visible ? 6 : 9} p-2 col-md-12">
                <table class="table mx-2">
                    <tbody>
                        {#if sim != 1.0}
                            <tr><td>類似度</td><td><Percent num={sim} /></td></tr>
                        {/if}
                        <tr><td>出版年</td><td>{ $meta_data[title].first_pub_year }</td></tr>
                        <tr><td>出版社</td><td>{ $meta_data[title].publisher }</td></tr>
                        <tr><td>巻数</td><td>{ $meta_data[title].vol_num }</td></tr>
                        <tr><td>平均ページ数</td><td>{ $meta_data[title].page_ave }</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <button class="btn btn-primary" on:click={() => is_summary_active = true}>あらすじを表示</button>
        {#if is_summary_active}
            <div class="modal modal-lg active">
                <a href={"#!"} class="modal-overlay" aria-label="Close" on:click={() => is_summary_active = false}></a>
                <div class="modal-container">
                    <div class="modal-header">
                        <a href={"#!"} class="btn btn-clear float-right" aria-label="Close" on:click={() => is_summary_active = false}></a>
                        <div class="modal-title h5">※ネタバレを含む場合があります</div>
                    </div>
                    <div class="modal-body">
                        <div class="content">
                            {@html String($meta_data[title].summary).replace("\n", "<br><br>")}
                        </div>
                    </div>
                    <div class="modal-footer">
                        {#if is_survey_active}
                            <div class="form-group" style="text-align:left;">
                                <label class="form-checkbox">
                                    <input type="checkbox" bind:checked={survey.is_alr_read}>
                                    <i class="form-icon"></i> 読んだことがある
                                </label>
                            </div>
                            <div class="form-group" style="text-align:left;">
                                {#each qs as q, i}
                                    <label class="form-radio form-inline">
                                        <input type="radio" name="il" checked={survey.interest_level == i + 1} on:click={() => survey.interest_level = i + 1}>
                                        <i class="form-icon"></i> {i + 1}. {q}
                                    </label>   
                                {/each}
                            </div>
                        {/if}
                        <a class="btn btn-link" href="#!" aria-label="Close" on:click={() => is_summary_active = false}>Close</a>
                    </div>
                </div>
            </div>
        {/if}
    </div>
</div>

<style>
    .shoei {
        height: 250px;
    }
    div.t-bar {
        margin-top: 20px;
    }
    div.spinner-wrap {
        position: relative; 
        height: 100%;
    }
    div.spinner {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto; 
        width: 100px; /*widthの指定は必須*/
        height: 100px; /*heightの指定は必須*/
    }
</style>