<script lang="ts">
    import { fade } from "svelte/transition";
    import BookInfo from "./BookInfo.svelte";
    export let title: string
    export let func: (title: string) => void
    let is_bookinfo_active = false
    
</script>
<span class="chip" transition:fade>
    { title.length > 15 ? title.slice(0, 13) + "..." : title }
    <button class="icon icon-search c-hand  btn btn-clear" on:click={() => is_bookinfo_active = true}></button>
    <a class="btn btn-clear" href="#!" aria-label="Close" role="button" on:click={() => func(title)}></a>
</span>

<div class="modal modal-lg" class:active={is_bookinfo_active}>
    <a href={"#"} class="modal-overlay" aria-label="Close" on:click={() => is_bookinfo_active = false}></a>
    <div class="modal-container">
        <div class="modal-header">
            <a href={"#"} class="btn btn-clear float-right" aria-label="Close" on:click={() => is_bookinfo_active = false}></a>
            <div class="modal-title h5">{title}の書籍情報</div>
        </div>
            <BookInfo title={title} is_survey_active={false}/> 
        <div class="modal-footer"></div>
    </div>
</div>