<script lang="ts">
    import { survey } from "../../stores";

    export let id: number
    export let q: string
    export let options: string[]
</script>

<div style="margin-left: 1em;">
<!-- svelte-ignore a11y-label-has-associated-control -->
<label class="form-label mt-2">Q{id}. {q}</label>
    {#each options as g, i}
        <label class="form-radio">
            <input type="radio" checked={$survey[`q${id}`] == i + 1} on:click={() => $survey[`q${id}`] = i + 1}>
            <i class="form-icon"></i> {i + 1}. {g}
        </label>
    {/each}
</div>