<script lang="ts">
    import { fade } from "svelte/transition";
    import { survey, vecs} from "../../stores"
    import BookInfo from "./BookInfo.svelte"
    import type { BookSurvey } from "../../stores"
    export let ave_vec: number[]
    let is_reload = false
    export let selected_titles: string[] = []
    export let key_topics: string[]
    export let mode: string

    let result_books: { title: string, sim: number }[] = []
    
    const initDummySurvey = () => {
        return {
            "title": "",
            "similarity": -1,
            "interest_level": -1,
            "is_alr_read": false,
            "is_topic_visible": true
        } 
    }

    let book_surveys: BookSurvey[] = Array.from({length: 5}, initDummySurvey)

    const calcCosSim = (x: number[], y:number[]): number => {
        let [xx, yy, xy] = [0, 0, 0]
        for(let i = 0; i < x.length; i++){
            xx += x[i] ** 2
            yy += y[i] ** 2
            xy += x[i] * y[i]
        }
        return xy/(Math.sqrt(xx) * Math.sqrt(yy))
    }

    const validateSurvey = () => {
        for(let s of book_surveys){
            if(s.interest_level == 5) return false
        }
        return true
    }

    const saveSurvey = () => {
        if(validateSurvey()){
            $survey[`${mode}_survey`] = book_surveys
            switch(mode){
                case "title_mode":
                    $survey.title_mode_query = selected_titles
                    break
                case "topic_mode":
                    $survey.topic_mode_query = key_topics
                    break
            }
            alert("アンケートを保存しました")
        }
        else{
            alert("未回答の作品があります")
        }
    }

    $: {
        if(ave_vec.length != 0) {
            result_books = Object.keys($vecs).filter(t => !selected_titles.includes(t)).map(t => {
                return {"title" : t, "sim" : calcCosSim(ave_vec, $vecs[t])}
            }).sort((a, b) => b.sim - a.sim)
        }
    }
    
    $: console.log(book_surveys)
</script>

<div transition:fade>
    <h4 class="mt-2">推薦書籍一覧</h4>
    {#if !is_reload}
        {#each result_books.slice(0, 5) as book, i}
            <BookInfo title={book.title} sim={book.sim} key_topics={key_topics} is_survey_active={true} bind:survey={book_surveys[i]}/> 
        {/each}
    {/if}
</div>

<button class="btn btn-primary mt-2" on:click={saveSurvey}>興味度アンケートを保存</button>