<script lang="ts">
    import { slide } from "svelte/transition"
    import { PUBLIC_API_ORIGIN } from "$env/static/public"
    import { onMount } from "svelte";
    import { survey } from "../../stores"
    import RadioButton from "./RadioButton.svelte";
    let is_modal_active = false
    let is_ok_toast_active = false
    let is_ng_toast_active = false
    let is_sending = false
    let status_code: number
    let survey_json = {
        name: "",
        password: "",
        survey:""
    }
    const gender = ["男性", "女性", "その他"]
    const age = [...Array(5)].map((_, i) => (i + 1) * 10 + "代")
    const qt1 = ["そう思わない", "あまりそう思わない", "ややそう思う", "そう思う"]
    const qt2 = ["好きではない", "あまり好きではない", "やや好き", "好き"]
    const qt3 = ["1冊", "2冊", "3～5冊", "6～9冊", "10冊以上", "あまり読まない"]
    const qt4 = ["少ない", "やや少ない", "適切", "やや多い", "多い"]
    const qs = ["興味がない", "あまり興味がない", "やや興味がある", "興味がある"]
    const  err_msg: {[key: number]: string} = { 
        400: "リクエストが不正です",
        403: "アンケートの提出に失敗しました",
        404: "現在評価実験は行っておりません",
        409: "すでに回答済みです",
        500: "サーバーエラーです",
        888: "未回答の項目があります",
        999: "エラーが発生しました"
    }

    $survey["q5.4"] = ""

    const toggleModal = () => {
        survey_json.name = ""
        survey_json.password = ""
        is_modal_active = !is_modal_active
        is_ok_toast_active = false
        is_ng_toast_active = false
    }
    const submit = () => {
        is_ok_toast_active = false
        is_ng_toast_active = false
        if (survey_json.name == "" || survey_json.password == "" || Object.keys($survey).length != 23){
            status_code = 888
            is_ng_toast_active = true
        } 
        else{
            is_sending = true
            survey_json.survey = JSON.stringify($survey) 
            const api = fetch(PUBLIC_API_ORIGIN + "/surveys", {
                method: "POST",
                mode: "cors",
                headers:{
                    'Content-type':'application/json',
                },
                credentials: "include",
                body: JSON.stringify(survey_json)
            }).then((res) => {
                status_code = res.status
                is_sending = false
                if (res.ok) is_ok_toast_active = true
                else is_ng_toast_active = true
            }).catch((e) => {
                status_code = 999 
                is_sending = false
                is_ng_toast_active = true
            })
        }
    }
    const csrf = async () => {
        await fetch(PUBLIC_API_ORIGIN + "/", {
            method: "GET",
            mode: "cors",
            credentials: "include"
        }) 
    }
    onMount(csrf)
    $:{
        console.log(JSON.stringify($survey))
    }
</script>

<h3 class="mt-2">アンケート</h3>
<p class="mt-2">
    本アンケートは、ご使用いただいたシステムへの評価をお尋ねするものです。<br>
    ご記入いただいた結果は、全て統計的に処理され、研究成果発表のためにのみ利用させていただきます。<br>
    個人の氏名等は公表されず、分析結果も厳重に管理されますので、ご協力をよろしくお願いいたします。
</p>
<div class="form-group">

    <h4>1. あなたに関する質問</h4>
    <RadioButton id={1.1} q="あなたの性別を教えてください" options={gender} />
    <!-- svelte-ignore a11y-label-has-associated-control -->
    <div style="margin-left: 1em;">
        <label class="form-label mt-2">Q1.2. あなたの年齢を教えてください</label>
        <select class="form-select" bind:value={$survey["q1.2"]}>
            {#each age as a, i}
                <option value={i + 1}>{a}</option> 
            {/each}
        </select> 
    </div>
    <RadioButton id={1.3} q="本を読むのは好きですか？" options={qt2} />
    <RadioButton id={1.4} q="月にどれくらい本を読みますか？" options={qt3} />

    <h4>2. Title Modeに関する質問</h4>
    <RadioButton id={2.1} q="Title Modeは直感的に操作できましたか？" options={qt1} />
    <RadioButton id={2.2} q="Title Modeは読書経験が乏しいユーザに対して役立つと思いますか？" options={qt1} />
    <RadioButton id={2.3} q="あなたの好み欄に表示されたトピック分布は、ご自身の趣味趣向を把握するのに役立ちましたか？" options={qt1} />

    <h4>3. Topic Modeに関する質問</h4>
    <RadioButton id={3.1} q="Topic Modeは直感的に操作できましたか？" options={qt1} />
    <RadioButton id={3.2} q="Topic Modeは読書経験が乏しいユーザに対して役立つと思いますか？" options={qt1} />
    
    <h4>4. 推薦書籍に関する質問</h4>
    <RadioButton id={4.1} q="作品の登録数(220作品)は十分だと感じましたか？" options={qt1} />
    <RadioButton id={4.2} q="トピック全体の数(27個)は適切でしたか？" options={qt4} />
    <RadioButton id={4.3} q="作品画像の横に表示されるトピックの数(4個)は適切でしたか？" options={qt4} />
    <RadioButton id={4.4} q="作品画像の横に表示されるトピックの内容は適切でしたか？" options={qt1} />
    <RadioButton id={4.5} q="作品画像の横に表示されるトピック分布は、推薦根拠(何がどう似ているか)の理解に役立ちましたか？" options={qt1} />
    <RadioButton id={4.6} q="トピック名にマウスオーバーすると表示されるレビュー文は，そのトピックと作品の関係性を理解するのに役立ちましたか？" options={qt1} />

    <h4>5. システム全般に関する質問</h4>
    <RadioButton id={5.1} q="ワードクラウド(☁のボタンを押して表示される画像)はそのトピックの意味を理解するのに役立ちましたか？" options={qt1} />
    <RadioButton id={5.2} q="本システムの利用は、未知かつ興味のある作品を知るきっかけになると思いますか？" options={qt1} />
    <RadioButton id={5.3} q="今後読んでみたい作品を探す際、本システムは役立つと思いますか？" options={qt1} />

    <div style="margin-left: 1em;">
        <!-- svelte-ignore a11y-label-has-associated-control -->
        <label class="form-label mt-2">Q5.4. その他、システムに対して感想や意見などございましたら自由にお書きください</label>
        <textarea class="form-input" bind:value={$survey["q5.4"]}/>
    </div>
</div>
<br>
{#each ["title_mode", "topic_mode"] as mode}
    <h4 class="mt-1">{mode == "title_mode" ? "Title Mode" : "Topic Mode"}のアンケート回答状況</h4>
    <table class="table">
        <thead>
            <th>類似度序列</th>
            <th>類似度</th>
            <th>作品名</th>
            <th>読んだことがあるか</th>
            <th>興味度</th>
        </thead>
        <tbody>
            {#each Array(5) as _, i}
                {#if $survey.hasOwnProperty(`${mode}_survey`) && $survey[`${mode}_survey`][i].interest_level != 5}
                    <tr>
                        <td>{i + 1}</td>
                        <td>{$survey[`${mode}_survey`][i].similarity}</td>
                        <td>{$survey[`${mode}_survey`][i].title}</td>
                        <td>{$survey[`${mode}_survey`][i].is_alr_read ? "ある" : "ない"}</td>
                        <td>{qs[$survey[`${mode}_survey`][i].interest_level - 1]}</td>
                    </tr> 
                {:else}
                    <tr><td colspan="5">未回答</td></tr>
                {/if}
            {/each}
        </tbody>
    </table>
    <br>
{/each}

<button class="btn btn-primary my-2" on:click={toggleModal}>アンケートを送信</button>
{#if is_modal_active }
    <div class="modal modal-sm active"id="modal-id">
        <a href={"#"} class="modal-overlay" aria-label="Close" on:click={toggleModal}></a>
        <div class="modal-container">
            <div class="modal-header">
                <a href={"#"} class="btn btn-clear float-right" aria-label="Close" on:click={toggleModal}></a>
                <div class="modal-title h5">アンケート提出Form</div>
            </div>
            <div class="modal-body">
                <div class="content">
                    {#if is_ok_toast_active }
                        <div class="toast toast-success" transition:slide>
                            <button class="btn btn-clear float-right" on:click={() => is_ok_toast_active = false }></button>
                            <p>アンケートの提出が完了しました</p>
                        </div>
                    {/if}
                    {#if is_ng_toast_active }
                        <div class="toast toast-error" transition:slide>
                            <button class="btn btn-clear float-right" on:click={() => is_ng_toast_active = false }></button>
                            <p>{ err_msg[status_code] }</p>
                        </div>
                    {/if}
                    <div class="form-group">
                        <label class="form-label" for="survey_name">ニックネーム</label>
                        <input id="survey_name" class="form-input" type="text" placeholder="Name" bind:value={survey_json.name}>
                        <label class="form-label" for="survey_pw">パスワード</label>
                        <input id="survey_pw" class="form-input" type="password" placeholder="Password" bind:value={survey_json.password}>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                {#if is_sending}
                    <button class="btn btn-primary loading">Submit</button>
                {:else}
                    <button class="btn btn-primary"  on:click={submit}>Submit</button>
                {/if}
                    <a class="btn btn-link" href="#!" aria-label="Close" on:click={toggleModal}>Close</a>
            </div>
        </div>
    </div>
{/if}
