<script lang="ts">
    import { tweened } from "svelte/motion"
    import { quadOut } from "svelte/easing"
    export let vec: number
    const bar_width = tweened(0, {
        duration: 1000,
        easing: quadOut
    })
    $: bar_width.set(vec * 100)
    
</script>

<div class="bar mx-1">
    <div class="bar-item" style="width:{$bar_width}%;"></div>
</div>
