<script lang="ts">
    import {topics} from "../../stores"
    import Result from "./Result.svelte";
    import TopicChip from "./TopicChip.svelte";

    let selected_topics: string[] = []
    let ave_vec: number[] = []

    const addTopic = (topic: string) => {
        if(!selected_topics.includes(topic)) {
            selected_topics.push(topic) 
            selected_topics = selected_topics
        }
    }
    const delTopic = (topic :string) => {
        selected_topics = selected_topics.filter(t => t != topic)
    }

    $:{
        let topic_indexs = selected_topics.map( (t) => {
            return $topics.indexOf(t)
        })
        ave_vec = $topics.map( (_, i) => {
            if (topic_indexs.includes(i)) {
                return 1.0 / topic_indexs.length
            }
            else return 0
        })
    }
</script>

<div class="panel mt-2">
    <div class="panel-header"><div class="panel-title">トピック一覧</div></div>
    <div class="panel-body">
    {#each $topics.filter(t => t != "?" && !selected_topics.includes(t)) as topic, i}
        <TopicChip topic={topic} is_add={true} func={addTopic} />
    {/each}
    </div>
    <div class="panel-footer">
    </div>
</div>

<div class="panel mt-2">
    <div class="panel-header"><div class="panel-title">選択済みトピック</div></div>
    <div class="panel-body">
    {#each selected_topics as topic}
        <TopicChip topic={topic} is_add={false} func={delTopic} />
    {/each}
    </div>
    <div class="panel-footer">
        <button class="btn btn-primary float-right" disabled={selected_topics.length == 0} on:click={() => selected_topics = []}>
            全て削除
        </button>
    </div>
</div>

{#if selected_topics.length != 0}
    <Result ave_vec={ave_vec} key_topics={selected_topics} mode="topic_mode"/>
{/if}