<script lang="ts">
    import { topics } from "../../stores";
    export let topic_id: number
    export let is_active: boolean
    let img_path = ""
    let is_img_loaded = false

    $:{
        import(`../../wordclouds/${topic_id}.svg`).then(img =>{
            img_path = img.default
        })
        is_img_loaded = false
    }

</script>

{#if is_active}
    <div class="modal modal-lg active">
        <a href={"#"} class="modal-overlay" aria-label="Close" on:click={() => is_active = false}></a>
        <div class="modal-container">
            <div class="modal-header">
                <a href={"#"} class="btn btn-clear float-right" aria-label="Close" on:click={() => is_active = false}></a>
                <div class="modal-title h5">{$topics[topic_id]}の特徴語</div>
            </div>
            <img src={img_path} alt="" on:load={() => is_img_loaded = true} hidden={!is_img_loaded}>
            <div class="loading loading-lg spinner" hidden={is_img_loaded}></div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
{/if}