<script lang="ts">
    import { fade } from "svelte/transition";
    import {topics} from "../../stores"
    import TopicWordCloud from "./TopicWordCloud.svelte";
    export let topic: string
    let topic_id: number 
    export let func: (topic: string) => void
    export let is_add: boolean
    let is_wordcloud_active = false
    $: topic_id = $topics.indexOf(topic)
</script>

<span class="chip" transition:fade>
        {topic}
        <!-- svelte-ignore a11y-click-events-have-key-events -->
        <!-- svelte-ignore a11y-no-static-element-interactions -->
        <i class="fa-solid fa-cloud fa-xs mx-1" on:click={() => is_wordcloud_active = true} style="cursor: pointer">
        </i>
        {#if is_add}
            <button class="icon icon-plus c-hand  btn btn-clear" on:click={() => func(topic)}></button>
        {:else}
            <a href={"#"} class="btn btn-clear" aria-label="Close" role="button" on:click={() => func(topic)}></a>
        {/if}
</span>
<TopicWordCloud topic_id={topic_id} bind:is_active={is_wordcloud_active}/>